/* header */
.header {
	padding: 1rem 0 1.75rem;
	&__top-panel {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0 0.9375rem;
		}
	&__md-col {
		display: flex;
		align-items: center;
		gap: 0 1.875rem;
		}
	&__md-panel {
		display: flex;
		align-items: center;
		gap: 0 1.875rem;
		padding: 1.125rem 0;
		}
	}

/* city-link */
.city-link {
	display: flex;
	align-items: center;
	gap: 0 0.625rem;
	cursor: pointer;
	&:hover {
		.city-link__text {
			color: var(--secondary-text-color);
			}
		}
	&__icon {
		flex-shrink: 0;
		width: 1.5rem;
		img {
			width: 100%;
			}
		}
	&__text {
		display: block;
		font-size: 1rem;
		line-height: 1.25rem;
		transition: .5s color;
		}
	}

/* phone */
.phone {
	display: block;
	font-size: 1rem;
	font-family: var(--secondary-font-family);
	font-weight: var(--quaternary-font-weight);
	line-height: 1.25rem;
	a {
		color: var(--primary-text-color);
		&:hover {
			color: var(--secondary-text-color);
			}
		}
	}

/* mail */
.mail {
	display: block;
	font-size: 1rem;
	line-height: 1.25rem;
	a {
		color: var(--primary-text-color);
		&:hover {
			color: var(--secondary-text-color);
			}
		}
	}

/* working-hours */
.working-hours {
	display: block;
	color: var(--tertiary-text-color);
	font-size: 1rem;
	line-height: 1.25rem;
	}

/* messengers */
.messengers {
	display: flex;
	align-items: center;
	gap: 0 0.625rem;
	&__item {
		a {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 2.125rem;
			height: 2.125rem;
			background: var(--secondary-background-color);
			border-radius: 0.375rem;
			transition: .5s background;
			&:hover {
				background: var(--tertiary-background-color);
				}
			}
		}
	}

/* logo */
.logo {
	width: 19.5625rem;
	height: 2.875rem;
	img {
		margin: -0.875rem 0 0;
		width: 100%;
		}
	}

/* search-form */
.search-form {
	flex-grow: 1;
	&__in {
		position: relative;
		}
	input {
		padding-right: 4.375rem;
		height: 3.625rem;
		&::-moz-placeholder {
			color: var(--tertiary-text-color);
			}
		&::-webkit-input-placeholder {
			color: var(--tertiary-text-color);
			}
		}
	&__btn {
		position: absolute;
		width: 3.5rem;
		height: 3.625rem;
		top: 0;
		right: 0;
		font-size: 0;
		background: url(../img/icons/search-i.svg) center no-repeat;
		background-size: 1.5rem;
		cursor: pointer;
		transition: .5s opacity;
		&:hover {
			opacity: 0.7;
			}
		}
	}

/* user-nav */
.user-nav {
	display: flex;
	align-items: center;
	gap: 0 1.5rem;
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.625rem 0;
		text-align: center;
		cursor: pointer;
		&:hover {
			.user-panel__text {
				color: var(--tertiary-text-color);
				}
			}
		}
	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		img {
			width: 100%;
			}
		}
	&__text {
		display: block;
		color: var(--primary-text-color);
		font-size: 0.875rem;
		text-align: center;
		line-height: 1.125rem;
		transition: .5s color;
		}
	}

/* main-nav */
.main-nav {
	ul {
		display: flex;
		align-items: center;
		gap: 0 1.5rem;
		}
	li {
		font-size: 1rem;
		line-height: 1.25rem;
		&.active {
			span {
				color: var(--secondary-text-color);
				}
			}
		}
	a {
		color: var(--primary-text-color);
		&:hover {
			color: var(--secondary-text-color);
			}
		}
	&__services-link {
		span {
			position: relative;
			display: block;
			padding: 0 0 0 2.125rem;
			color: var(--primary-text-color);
			transition: .5s color;
			cursor: pointer;
			&:before {
				position: absolute;
				display: block;
				width: 1.5rem;
				height: 1.5rem;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: url(../img/icons/nav-i.svg) center no-repeat;
    		background-size: 100%;
				content: "";
				transition: .3s all;
				}
			&:after {
				position: absolute;
				display: block;
				width: 1.5rem;
				height: 1.5rem;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				background: url(../img/icons/close-i.svg) center no-repeat;
    		background-size: 100%;
				content: "";
				opacity: 0;
				transition: .3s all;
				}
			&:hover {
				color: var(--secondary-text-color);
				}
			}
		&.close {
			span {
				&:before {
					opacity: 0;
					}
				&:after {
					opacity: 1;
					}
				}
			}
		}
	}

/* mobile-btn */
.mobile-btn {
	position: relative;
	display: none;
	width: 1.5rem;
	height: 1.5rem;
	cursor: pointer;
	&:before {
		position: absolute;
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		top: 0;
		left: 0;
		background: url(../img/icons/mobile-menu.svg) center no-repeat;
	  background-size: 100%;
		cursor: pointer;
		content: "";
		transition: .5s opacity;
		}
	&:after {
		position: absolute;
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		top: 0;
		left: 0;
		background: url(../img/icons/mobile-menu-close.svg) center no-repeat;
	  background-size: 100%;
		cursor: pointer;
		content: "";
		opacity: 0;
		transition: .5s opacity;
		}
	&.open {
		&:before {
			opacity: 0;
			}
		&:after {
			opacity: 1;
			}
		}
	}