/* mobile-menu */
.mobile-menu {
	position: fixed;
	display: none;
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px 16px;
	width: 100%;
	left: 0;
	bottom: 0;
	background: var(--secondary-background-color);
	z-index: 50;
	&__item {
		&.active {
			.mobile-menu__icon {
				svg {
					fill: var(--secondary-text-color);
					}
				}
			.mobile-menu__text {
				color: var(--primary-text-color);
				}
			.mobile-menu__dropdown {
			 	opacity: 1;
			 	visibility: visible;
			 	}
			}
		}
	&__item-in {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px 0;
		cursor: pointer;
		}
	&__icon {
		display: block;
		width: 24px;
		svg {
			width: 100%;
			vertical-align: top;
			fill: var(--tertiary-text-color);
			transition: .5s fill;
			}
		}
	&__text {
		display: block;
		color: var(--tertiary-text-color);
		font-size: 12px;
		text-align: center;
		line-height: 15px;
		}
	&__dropdown {
		position: fixed;
		padding: 30px 16px 16px;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 72px;
		background: var(--primary-background-color);
		opacity: 0;
		visibility: hidden;
		transition: .5s all;
		}
	&__dropdown-in {
		height: 100%;
		overflow-y: auto;
		}
	}

/* callback */
#callback {
	.mobile-menu__dropdown-in {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		}
	}

/* services-nav */
.services-nav {
	li {
		font-size: 16px;
		line-height: 20px;
		border-bottom: 1px solid var(--primary-border-color);
		&:first-child {
			border-top: 1px solid var(--primary-border-color);
			}
		}
	a {
		position: relative;
		display: block;
		padding: 18px 35px 18px 0;
		color: var(--primary-text-color);
		&:after {
			position: absolute;
			display: block;
			width: 8px;
			height: 14px;
			top: 50%;
			right: 9px;
			transform: translateY(-50%);
			background: url(../img/icons/services-nav-arrow.svg) center no-repeat;
			background-size: 100%;
			content: "";
			}
		}
	}

/* phone-panel */
.phone-panel {
	display: flex;
	align-items: center;
	gap: 0 16px;
	img {
		flex-shrink: 0;
		width: 30px;
		}
	&__description {
		display: flex;
		flex-direction: column;
		gap: 6px 0;
		width: 100%;
		}
	&__tel {
		display: block;
		}
	&__tel {
		display: block;
		color: var(--primary-text-color);
		font-size: 20px;
		font-family: var(--secondary-font-family);
  	font-weight: var(--quaternary-font-weight);
  	line-height: 20px;
  	letter-spacing: -3%;
		}
	&__working-hours {
		display: block;
		color: var(--tertiary-text-color);
		font-size: 16px;
		line-height: 20px;
		}
	}

/* mobile-messengers */
.mobile-messengers {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 10px;
	&__item {
		display: flex;
		align-items: center;
		gap: 0 10px;
		padding: 13px 16px;
		background: var(--quaternary-background-color);
		border-radius: 12px;
		img {
			flex-shrink: 0;
			width: 24px;
			}
		}
	&__text {
		display: block;
		color: var(--primary-text-color);
		font-size: 16px;
		line-height: 20px;
		}
	}

/* email-link */
.email-link {
	display: flex;
	align-items: center;
	gap: 0 10px;
	img {
		flex-shrink: 0;
		width: 24px;
		}
	&__text {
		display: block;
		color: var(--primary-text-color);
		font-size: 16px;
		line-height: 20px;
		}
	}

/* mobile-callback */
.mobile-callback {
	display: flex;
	flex-direction: column;
	gap: 20px 0;
	padding: 24px;
	background: var(--secondary-background-color);
	border-radius: 24px;
	&__bnts-col {
		display: flex;
		align-items: center;
		gap: 0 10px;
		.btn {
			padding: 1.1875rem 0;
			}
		}
	}