/* 1272 */
@media (max-width: 1272px) {

html {
  font-size: 1.26vw;
}

[class*=__container] {
  max-width: 100%;
}

}

/* 767 */
@media (max-width: 767px) {

.categories {
  &__item {
    height: 8.125rem;
    }
  &__img {
    width: 12.5rem;
    height: 8.125rem;
    }
  }

}