/* 1272 */
@media (max-width: 1272px) {

html {
  font-size: 1.26vw;
  }

[class*=__container] {
  max-width: 100%;
  }

}

/* 767 */
@media (max-width: 767px) {

body {
  &.index {
    background: url(../img/bg/dec-bg-mob.png) top center no-repeat;
    background-size: 100%;
    }
  &.scroll-hidden {
    overflow: hidden;
    }
  }

html {
  font-size: 4.27vw;
  }

.wrapper {
  overflow: hidden;
  }

.header {
  padding: 0.75rem 0;
  transition: .5s background;
  &.active {
    background: var(--primary-background-color);
    }
  &__top-panel {
    display: none;
    }
  &__md-panel {
    padding: 0;
    justify-content: space-between;
    .search-form {
      display: none;
      }
    .user-nav {
      display: none;
      }
    }
  }

.search-form {
  input[type="text"] {
    height: 3.625rem;
    }
  }

input[type='tel'],   
input[type='text'],
input[type='email'],
input[type='password'] {
  padding: 0 0.875rem;
  height: 3.125rem;
  }

.btn {
  display: block;
  padding: 0.9375rem 0.875rem;
  width: 100%;
  font-size: 0.875rem;
  text-align: center;
  border-radius: 0.625rem;
  &_md-size {
    padding: 0.5625rem 0.5rem;
    }
  &_arrow-icon {
    padding-right: 2.375rem;
    &:after {
      right: 0.5rem;
      }
    }
  }

.logo {
  width: 14.25rem;
  height: 2.875rem;
  img {
    margin: 0;
    }
  }

.main-nav {
  margin: 0 0 2rem;
  ul {
    align-items: flex-start;
    flex-direction: column;
    gap: 1.125rem 0;
    }
  &__services-link {
    display: none;
    }
  }

.services-dropdown {
  display: none;
  }

.mobile-btn {
  display: block;
  }

.categories {
  &__item {
    height: 8.125rem;
    }
  &__img {
    width: 12.5rem;
    height: 8.125rem;
    }
  }

.mobile-menu {
  display: flex;
  }

.main {
  gap: 2.5rem 0;
  padding: 0 0 2.5rem;
  }

.promo {
  display: block;
  padding: 1.25rem;
  border-radius: 1.25rem;
  &__description {
    padding: 0;
    }
  &__title {
    margin: 0 0 0.625rem;
    font-size: 2rem;
    line-height: 2.4375rem;
    }
  &__text {
    margin: 0 0 0.625rem;
    display: block;
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  .tags {
    display: none;
    }
  &__img {
    margin: 0 auto 0.625rem;
    width: 15.4375rem;
    }
  }

.entry-form {
  &__title {
    font-size: 1rem;
    line-height: 1.125rem;
    }
  form {
    flex-direction: column;
    gap: 0.75rem 0;
    }
  }

.call-wizard-section {
  &_indent-top {
    margin: -1rem 0 0;
    }
  }

.working-hours {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  }

.call-wizard {
  padding: 1.25rem;
  gap: 1rem 0;
  border-radius: 1.25rem;
  &__title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    }
  &__form {
    form {
      flex-direction: column;
      gap: 0.75rem 0;
      .select {
        width: 100%;
        }
      }
    }
  }

.select {
  height: 3.125rem;
  border-radius: 0.625rem;
  &_size-small {
    height: 3.125rem;
    border-radius: 0.625rem;
    .select__placeholder-text {
      padding: 1rem 3rem 1rem 0.75rem;
      }
    .select__text {
      padding: 1rem 3rem 1rem 0.75rem;
      height: 3.125rem;
      }
    .select__dropdown {
      padding: 1rem 0.75rem;
      top: 3.625rem;
      border-radius: 0.625rem;
      }
    }
  &__placeholder-text {
    padding: 1rem 3.25rem 1rem 0.875rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__text {
    padding: 1rem 3.25rem 1rem 0.875rem;
    height: 3.125rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    &:after {
      margin: -0.1875rem 0 0;
      width: 0.75rem;
      height: 0.4375rem;
      right: 1.25rem;
      }
    }
  &__dropdown {
    padding: 0.875rem;
    top: 3.875rem;
    ul {
      gap: 0.625rem 0;
      }
    li {
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    }
  .vertical-scroll {
    max-height: 11.5rem;
    }
  }

.tags {
  gap: 0.5rem 0.5rem;
  }

.tag {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  &__text {
    font-size: 0.875rem;
    span {
      display: block;
      color: var(--tertiary-text-color);
      font-size: 0.75rem;
      font-weight: var(--primary-font-weight);
      line-height: 0.9375rem;
      + span {
        color: var(--primary-text-color);
        font-size: 0.875rem;
        font-weight: var(--secondary-font-weight);
        line-height: 1.125rem;
        }
      }
    }
  }

.advantages {
  gap: 0.625rem 0;
  &__text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.title {
  margin: 0 0 1.25rem;
  font-size: 1.625rem;
  line-height: 1.625rem;
  }

.coffee-machines {
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem 0;
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.875rem;
    height: 8.125rem;
    border: 0;
    border-radius: 1.25rem;
    &:nth-child(1) {
      .coffee-machines__img {
        width: 5.375rem;
        height: 6.625rem;
        top: 50%;
        right: 1.75rem;
        transform: translateY(-50%);
        }
      }
    &:nth-child(2) {
      .coffee-machines__img {
        width: 6.6875rem;
        height: 7rem;
        top: 50%;
        right: 1.5rem;
        transform: translateY(-50%);
        }
      }
    &:nth-child(3) {
      .coffee-machines__img {
        width: 5.25rem;
        height: 6.5rem;
        top: 50%;
        right: 1.625rem;
        transform: translateY(-50%);
        }
      }
    &:nth-child(4) {
      .coffee-machines__img {
        width: 8.3125rem;
        height: 7.5rem;
        top: 50%;
        right: 0.875rem;
        transform: translateY(-50%);
        }
      }
    &:nth-child(5) {
      .coffee-machines__img {
        width: 8.75rem;
        height: 6.75rem;
        top: 50%;
        right: 0.75rem;
        transform: translateY(-50%);
        }
      }
    &:nth-child(6) {
      .coffee-machines__img {
        width: 7.4375rem;
        height: 7.25rem;
        top: 50%;
        right: 1.5625rem;
        transform: translateY(-50%);
        }
      }
    }
  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.gl-slider-arrows {
  display: none;
  }

.top-panel {
  margin: 0 0 1.25rem;
  p {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  .more-link {
    display: none;
    }
  }

.services-slider {
  &.swiper {
    margin: 0 -1.25rem;
    padding: 0 1rem;
    }
  .swiper-slide {
    padding: 0 0.25rem;
    width: 16.9375rem;
    }
  }

.service-item {
  border-radius: 1.25rem;
  &__img {
    height: 9.75rem;
    border-radius: 1.25rem 1.25rem 0 0;
    }
  &__description {
    padding: 1rem;
    }
  &__title {
    font-size: 1.125rem;
    }
  p {
    margin: 0 0 1.25rem;
    }
  &__price {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

p {
  font-size: 0.875rem;
  line-height: 1.375rem;
  }

.brands-logo {
  display: flex;
  flex-wrap: inherit;
  margin: 0 -1rem;
  padding: 0 1rem;
  gap: 0 0.5rem;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &_indent-bottom {
    margin-bottom: 1.25rem;
    }
  &__item {
    flex-shrink: 0;
    width: 7.125rem;
    white-space: normal;
    border-radius: 1.125rem;
    }
  }

.brands {
  gap: 1.25rem 0;
  }

.brands-list {
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(10, auto);
  grid-auto-flow: inherit;
  gap: 0.625rem 0.625rem;
  height: 16.875rem;
  li {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.advantages-company {
  margin: 0 -1rem;
  padding: 1.5rem 1rem;
  &:after {
    width: 8.125rem;
    height: 8.75rem;
    background: url(../img/src/beans-mobile.png) center no-repeat;
    background-size: 100%;
    content: "";
    }
  .title {
    margin: 0 0 0.625rem;
    }
  &__text {
    margin: 0 0 1.25rem;
    max-width: 15.125rem;
    opacity: 1;
    }
  }

.advantages-list {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 0.5rem;
  &__item {
    padding: 1rem;
    border-radius: 1.25rem;
    p {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      }
    }
  &__icon {
    margin: 0 0 0.625rem;
    width: 1.5rem;
    }
  &__title {
    margin: 0 0 0.625rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.tabs {
  &__nav {
    margin: 0 0 1.25rem;
    padding: 0.25rem;
    ul {
      gap: 0 0.75rem;
      }
    li {
      padding: 0.6875rem 0.75rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    }
  &_three-col {
    .tabs__nav {
      padding: 0;
      background: none;
      border-radius: 0;
      ul {
        margin: 0 -0.25rem;
        padding: 0.25rem;
        background: var(--secondary-background-color);
        overflow-x: scroll;
        white-space: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
        border-radius: 1.875rem;
        }
      li {
        flex-shrink: 0;
        }
      }
    }
  }

.map-img {
  img {
    border-radius: 1.25rem;
    }
  }

.gl-list {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem 0.5rem;
  li {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.reviews-panel {
  display: block;
  margin: 0 0 1.25rem;
  }

.online-services {
  margin: 0 -1rem;
  padding: 0 1rem;
  gap: 0 0.5rem;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &__item {
    flex-shrink: 0;
    padding: 0.5rem 0.875rem;
    gap: 0 0.5rem;
    }
  &__text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.review-filters {
  flex-wrap: wrap;
  gap: 0.625rem 1rem;
  dt {
    width: 100%;
    }
  }

.reviews-list {
  display: flex;
  margin: 0 -1rem 1.25rem;
  padding: 0 1rem;
  gap: 0 0.5rem;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &:after {
    display: none;
    }
  .review {
    flex-shrink: 0;
    padding: 1.25rem;
    width: 15.9375rem;
    white-space: normal;
    border-radius: 1.25rem;
    }
  }

.review {
  padding: 1.25rem;
  border-radius: 1.25rem;
  p {
    margin: 0 0 2.5rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__link {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  .user-panel {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.875rem 0;
    &__img {
      width: 3.125rem;
      height: 3.125rem;
      }
    &__logo {
      position: absolute;
      top: 0;
      right: 0;
      }
    }
  }

.reviews-btn-panel {
  display: none;
  }

.user-panel {
  &__name {
    font-size: 1rem;
    font-family: var(--primary-font-family);
    line-height: 1.25rem;
    }
  &__date {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.malfunctions {
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem 0;
  &__item {
    &.hidden {
      display: none;
      }
    }
  &__top-col {
    display: flex;
    align-items: center;
    gap: 0 1rem;
    margin: 0 0 1.125rem;
    }
  &__icon {
    margin: 0;
    padding: 1.25rem;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
    }
  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  &__list {
    gap: 0.625rem 0;
    li {
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    }
  .btn {
    display: block;
    }
  }

.small-title {
  margin: 0 0 1.5rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
  }

.models {
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem 0;
  &__item {
    label {
      display: flex;
      align-items: center;
      gap: 0 1rem;
      &:after {
        position: static;
        flex-shrink: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-size: 0.875rem 0.6875rem;
        }
      }
    }
  &__img {
    flex-shrink: 0;
    margin: 0;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 0.75rem;
    }
  &__title {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    }
  }

.questionnaire {
  padding: 1.5rem;
  border-radius: 1.5rem;
  &__text {
    margin: 0 0 1.25rem;
    }
  &__bottom-panel {
    flex-direction: column;
    padding: 1.25rem 0 0;
    gap: 1.5rem 0;
    }
  }

.price-list {
  &__item {
    gap: 0 1.25rem;
    padding: 1rem 0 1rem;
    }
  &__title {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__number {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.offers-slider {
  &.swiper {
    margin: 0 -1.25rem;
    padding: 0 1rem;
    }
  .swiper-slide {
    padding: 0 0.25rem;
    width: 16.4375rem;
    }
  }

.offer-item {
  padding: 1.25rem;
  border: 0;
  border-radius: 1.25rem;
  .tag {
    margin: 0 0 1rem;
    padding: 0.375rem 0.625rem;
    border-radius: 1rem;
    &__text {
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    }
  &__title {
    margin: 0 0 0.625rem;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    }
  .price-panel {
    margin: 0 0 1rem;
    }
  .btn {
    display: inline-flex;
    width: auto;
    }
  }

.price-panel {
  flex-wrap: wrap;
  span {
    font-size: 1.5rem;
    line-height: 1.875rem;
    }
  del {
    font-size: 1.125rem;
    line-height: 1.4375rem;
    }
  }

.question-answer {
  flex-direction: column;
  gap: 1.25rem 0;
  &__description {
    padding: 0;
    width: 100%;
    .title {
      margin: 0 0 0.625rem;
      }
    p {
      margin: 0 0 1.5rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    .btn {
      margin: 0;
      }
    .more-link {
      display: none;
      }
    }
  }

.accordion {
  &__item {
    padding: 1.25rem 0;
    }
  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.products-slider {
  &.swiper {
    margin: 0 -1.25rem;
    padding: 0 1rem;
    }
  .swiper-slide {
    padding: 0 0.25rem;
    width: 16.4375rem;
    }
  }

.product-item {
  padding: 1.25rem;
  border-radius: 1.25rem;
  .sticker {
    top: 1.25rem;
    left: 1.25rem;
    }
  &__price {
    span {
      font-size: 1.25rem;
      line-height: 1.5625rem;
      }
    }
  &__title {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.sticker {
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.about {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  &__description {
    padding: 1.25rem;
    border-radius: 1.25rem;
    .title {
      margin: 0 0 1rem;
      font-size: 1.5rem;
      line-height: 1.5rem;
      }
    }
  &__img {
    height: 16rem;
    border-radius: 1.25rem;
    .btn {
      width: auto;
      top: 1rem;
      left: 1rem;
      }
    }
  }

.sub-title {
  margin: 0 0 1rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.statistics {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  padding: 1rem 0.625rem 1rem 1rem;
  border-radius: 1.1875rem;
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.625rem 0.625rem;
    }
  &__number {
    margin: 0;
    font-size: 1.125rem;
    line-height: 1.125rem;
    }
  &__text {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    }
  }

.masters-slider {
  &.swiper {
    margin: 0 -1.25rem;
    padding: 0 1rem;
    }
  .swiper-slide {
    padding: 0 0.25rem;
    width: 16.4375rem;
    }
  }

.master {
  &__img {
    margin: 0 0 0.375rem;
    }
  &__name {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  &__position {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__info-panel {
    margin: 0 0 0.625rem;
    }
  }

.rating {
  &__number {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.experience {
  font-size: 0.75rem;
  line-height: 0.9375rem;
  }

.warranty {
  position: relative;
  padding: 1.5rem;
  border-radius: 1.25rem;
  &__img {
    position: absolute;
    width: 3.75rem;
    top: 1.125rem;
    right: 1.875rem;
    }
  .md-title {
    padding: 0 5rem 0 0;
    }
  p {
    margin: 0 0 1.25rem;
    }
  }

.md-title {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  }

.stages {
  margin: 0 -1rem;
  padding: 0 1rem;
  gap: 0 0.5rem;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &__item {
    flex-shrink: 0;
    padding: 1.25rem;
    width: 15.9375rem;
    white-space: normal;
    border-radius: 1.25rem;
    p {
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    }
  &__sticker {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__title {
    margin: auto 0 0.625rem;
    font-size: 1.125rem;
    line-height: 1.4375rem;
    }
  }

.diagnostics-form {
  position: relative;
  flex-direction: column;
  padding: 9.4375rem 1.5rem 1.5rem;
  border-radius: 1.25rem;
  &__img {
    position: absolute;
    top: -1.625rem;
    left: 0.4375rem;
    width: 17.8125rem;
    order: 1;
    }
  &__description {
    padding: 0;
    }
  &__text {
    margin: 0 0 1rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  form {
    flex-direction: column;
    gap: 0.75rem 0;
    margin: 0 0 1rem;
    }
  &__small-text {
    font-size: 0.625rem;
    line-height: 0.8125rem;
    }
  }

.gl-tabs {
  &__nav {
    margin: 0 0 1.5rem;
    ul {
      margin: 0 -1rem;
      padding: 0 1rem;
      gap: 0 0.625rem;
      overflow-x: scroll;
      white-space: nowrap;
      -ms-overflow-style: none;
      scrollbar-width: none;
      }
    li {
      flex-shrink: 0;
      white-space: normal;
      }
    }
  }

.gallery {
  display: flex;
  margin: 0 -1rem;
  padding: 0 1rem;
  gap: 0 0.625rem;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &__item {
    flex-shrink: 0;
    width: 10.5rem;
    height: 11.875rem;
    white-space: normal;
    border-radius: 1.25rem;
    }
  }

.contacts-panel {
  align-items: flex-start;
  flex-direction: column;
  gap: 1.875rem 0;
  &__left-col {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem 0;
    }
  &__col {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem 0;
    width: 100%;
    }
  .call-center {
    padding: 0 0 0.25rem;
    }
  .messengers-panel {
    padding: 0.625rem 1rem;
    width: 100%;
    }
  }

.address-panel {
  &__city {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  &__street {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.с-phone-panel {
  .phone {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.mail-panel {
  .mail {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.gl-info-text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.messengers-panel {
  justify-content: space-between;
  &__text {
    br {
      display: none;
      }
    }
  .messengers {
    &__item {
      width: 2.5rem;
      a {
        width: 2.5rem;
        height: 2.5rem;
        }
      }
    }
  }

.service-centers-wrap {
  margin: 0 -1rem;
  }

.map {
  height: 25.1875rem;
  border-radius: 1.25rem 1.25rem 0 0;
  }

.service-centers {
  &__item {
    display: block;
    }
  &__title {
    margin: 0 0 0.375rem;
    font-size: 1.375rem;
    line-height: 1.75rem;
    }
  &__text {
    margin: 0 0 1.25rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__gallery {
    margin: 0 -1rem;
    padding: 0 1rem;
    gap: 0 0.5rem;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
  &__gallery-item {
    flex-shrink: 0;
    width: 6.25rem;
    height: 6.25rem;
    white-space: normal;
    }
  &__left-col {
    padding: 1.1875rem 1rem;
    }
  &__right-col {
    padding: 0 1rem 1.1875rem;
    width: 100%;
    border: 0;
    }
  &__contact-mobile {
    display: flex;
    align-items: center;
    gap: 0 0.625rem;
    margin: 0 0 0.875rem;
    .phone {
      font-size: 0.875rem;
      }
    .working-hours {
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    }
  &__bottom-panel {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.25rem 0 0;
    }
  &__contact {
    display: none;
    }
  }

.articles-section {
  .top-panel {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem 0;
    }
  .more-link {
    display: block;
    }
  }

.more-link {
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.articles {
  display: flex;
  flex-wrap: inherit;
  margin: 0 -1rem;
  padding: 0 1rem;
  gap: 0 0.5rem;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &_three-columns {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.25rem 0;
    margin: 0 0 2.5rem;
    padding: 0;
    overflow-x: inherit;
    white-space: inherit;
    -ms-overflow-style: inherit;
    scrollbar-width: inherit;
    .articles__item {
      width: 100%;
      }
    .articles__img {
      height: 12.5rem;
      }
    }
  &__item {
    flex-shrink: 0;
    width: 15.9375rem;
    white-space: normal;
    border-radius: 1.125rem;
    }
  &__img {
    margin: 0 0 1rem;
    }
  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  &__publication-day {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.document {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem 0;
  padding: 1.5rem;
  border-radius: 1.25rem;
  &__img {
    width: 5.4375rem;
    }
  &__description {
    .md-title {
      margin: 0 0 1.25rem;
      }
    p {
      margin: 0 0 1.25rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    }
  }

.footer {
  &__top-col-in {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem 0;
    margin: 0 0 1.5rem;
    padding: 0 0 1.5rem;
    }
  &__last-col {
    flex-direction: column;
    gap: 1.25rem 0;
    }
  &__last-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem 1.75rem;
    width: 100%;
    .messengers-panel {
      justify-content: space-between;
      grid-column: span 2;
      padding: 0.8125rem 1rem;
      &__text {
        order: -1;
        color: var(--primary-text-color);
        br {
          display: none;
          }
        }
      }
    .btn {
      display: none;
      + .btn {
        display: block;
        background: var(--primary-btn-color);
        box-shadow: none;
        }
      }
    }
  &__md-col {
    padding: 0;
    }
  &__md-col-in {
    flex-direction: column;
    }
  &__nav-col {
    flex-direction: column;
    gap: 0 0;
    width: 100%;
    }
  &__nav-col-item {
    padding: 1.375rem 0;
    width: 100%;
    border-bottom: 0.0625rem solid var(--primary-border-color);
    &:last-child {
      border-bottom: 0;
      }
    &.open {
      .footer__title {
        &:after {
          transform: rotate(180deg);
          }
        }
      .footer__nav {
        ul {
          display: flex;
          }
        }
      }
    }
  &__title {
    position: relative;
    margin: 0;
    padding: 0 2.1875rem 0 0;
    font-size: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
    &:after {
      position: absolute;
      display: block;
      margin: -0.75rem 0 0;
      width: 1.5rem;
      height: 1.5rem;
      top: 50%;
      right: 0;
      background: url(../img/icons/footer-arrow.svg) center no-repeat;
      background-size: 100%;
      content: "";
      transition: .5s transform;
      }
    }
  &__nav {
    ul {
      display: none;
      padding: 1.375rem 0 0;
      }
    li {
      font-size: 0.75rem;
      line-height: 1.125rem;
      br {
        display: none;
        }
      }
    }
  &__info-col {
    position: relative;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0 0;
    order: -1;
    padding: 0 0 1.5rem;
    width: 100%;
    border-bottom: 0.0625rem solid var(--primary-border-color);
    .social-panel {
      padding: 0 0 2.125rem;
      }
    .mail {
      position: absolute;
      left: 0;
      bottom: 1.5rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    }
  &__bottom-col {
    padding: 1.25rem 0 5.75rem;
    }
  &__bottom-col-in {
    flex-direction: column;
    align-items: center;
    gap: 0.625rem 0;
    text-align: center;
    }
  &__copy {
    font-size: 0.75rem;
    line-height: 0.9375rem;
    }
  &__nav-links {
    ul {
      flex-direction: column;
      align-items: center;
      gap: 0.625rem 0;
      }
    li {
      font-size: 0.75rem;
      line-height: 0.9375rem;
      }
    }
  }

.personal-account {
  flex-direction: column;
  gap: 1.875rem 0;
  &__description {
    .big-title {
      margin: 0 0 1.875rem;
      }
    }
  &__title {
    margin: 0 0 1.25rem;
    font-size: 1.125rem;
    line-height: 1.25rem;
    }
  }

.user-widget {
  padding: 1.25rem;
  width: 100%;
  border-radius: 1.25rem;
  }

.big-title {
  margin: 0 0 1rem;
  font-size: 1.875rem;
  line-height: 1.875rem;
  }

.personal-account {
  &__form-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem 0;
    }
  &__form-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem 0;
    li {
      &.full-size {
        grid-column: span 1;
        }
      }
    }
  &__order-panel {
    margin: 0 0 1.25rem;
    }
  &__back {
    font-size: 0.875rem;
    }
  }

.orders {
  &__item {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem 0;
    padding: 1.25rem;
    border-radius: 1.25rem;
    }
  &__left-col {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem 0;
    padding: 0 7.5rem 0 0;
    width: 100%;
    }
  &__number {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  &__quantity {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__price {
    line-height: 1.4375rem;
    }
  &__right-col {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.375rem 0;
    }
  .status-sticker {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    }
  }

.date {
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.status-sticker {
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.main-section {
  padding: 0.9375rem 0 0;
  border-top: 0.0625rem solid var(--primary-border-color); 
  }

.bread-crumbs {
  margin: 0 0 1.25rem;
  ul {
    gap: 0.375rem 0.375rem;
    }
  li {
    padding: 0 0.625rem 0 0;
    font-size: 0.75rem;
    }
  }

.orders-list {
  padding: 1.25rem;
  border-radius: 1.25rem;
  &__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem 0;
    padding: 1rem 0;
    &:first-child {
      padding-top: 0;
      }
    &:last-child {
      padding-bottom: 0;
      }
    }
  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  &__options {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__price {
    font-size: 1.125rem;
    line-height: 1.4375rem;
    }
  }

.details {
  &__title {
    font-size: 1.125rem;
    line-height: 1.25rem;
    }
  &__in {
    flex-direction: column;
    gap: 2.5rem 0;
    }
  .total-widget {
    position: static;
    margin: 0;
    padding: 0;
    }
  &__col {
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem 0;
    }
  &__form-list {
    grid-template-columns: repeat(1, 1fr);
    li {
      &.full-size {
        grid-column: span 1;
        }
      }
    }
  }

.shopping-cart {
  &__item {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem 0;
    padding: 1rem 0;
    &:first-child {
      padding-top: 0;
      }
    }
  &__left-col {
    &.flex-start {
      flex-direction: column;
      gap: 0.625rem 0;
      }
    }
  &__description {
    gap: 0.625rem 0;
    }
  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  &__characteristic {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__right-col {
    gap: 0 1.5rem;
    }
  &__price-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 0.375rem;
    }
  }

.radio-panel {
  gap: 0 0.5rem;
  }

.radio-btn {
  label {
    padding: 1rem 0.625rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    border-radius: 0.75rem;
    }
  }

.total-widget {
  width: 100%;
  &__in {
    padding: 1.5rem;
    border-radius: 1.25rem;
    }
  &__price {
    dd {
      span {
        font-size: 1.5rem;
        line-height: 1.25rem;
        }
      del {
        font-size: 1.25rem;
        line-height: 1.625rem;
        }
      }
    }
  }

.checkbox {
  label {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.gl-text {
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.categories {
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem 0;
  margin: 0 0 1.25rem;
  &__item {
    padding: 0.875rem;
    border-radius: 1.25rem;
    a {
      display: flex;
      align-items: center;
      }
    }
  &__title {
    max-width: 9.875rem;
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.tags-list {
  margin: 0 -1rem 1.25rem;
  padding: 0 1rem;
  flex-wrap: inherit;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  }

.tag-link {
  flex-shrink: 0;
  padding: 0.625rem 1rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.gl-col {
  display: block;
  padding: 0;
  }

.products-list {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 0.5rem;
  .coupon {
    grid-column: span 2;
    }
  }

.coupon {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem 0;
  padding: 1.25rem;
  border-radius: 1.25rem;
  &__title {
    font-size: 1.375rem;
    }
  p {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.products-list {
  &_indent-bottom {
    margin: 0 0 1.75rem;
    }
  .product-item {
    padding: 1rem;
    &__price {
      del {
        display: none;
        } 
      } 
    .sticker {
      top: 1rem;
      left: 1rem;
      }
    }
  }

.page-nav {
  &__number {
    a {
      padding: 0.75rem 0;
      width: 2.625rem;
      height: 2.625rem;
      }
    span {
      padding: 0.75rem 0;
      width: 2.625rem;
      height: 2.625rem;
      font-size: 0.875rem;
      line-height: 1.125rem;
      border-radius: 0.625rem;
      }
    }
  &__btn {
    display: none;
    }
  }

.filter-mobile-btn {
  display: block;
  }

.sidebar {
  position: fixed;
  padding: 1rem 0;
  width: calc(100% - 2rem);
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  background: var(--primary-background-color);
  box-shadow: 0 0 0 1rem rgba(73, 73, 73, 0.3);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: .5s all;
  &.show {
    opacity: 1;
    visibility: visible;
    }
  &__close-btn {
    display: block;
    }
  form {
    padding: 0 1rem;
    height: 100%;
    overflow-y: auto;
    }
  }

.main-content {
  &__top-panel {
    margin: 0 0 1.25rem;
    gap: 0 0.5rem;
    .select {
      width: 100%;
      }
    .quantity {
      display: none;
      }
    }
  }

.master-list {
  grid-template-columns: repeat(1, 1fr);
  }

.gl-simple-list {
  li {
    font-size: 1rem;
    line-height: 1.375rem;
    &:before {
      top: 0;
      }
    }
  }

input[type="tel"], 
input[type="text"], 
input[type="email"], 
input[type="password"] {
  font-size: 0.875rem;
  border-radius: 0.625rem;
  }

.author-panel {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem 0;
  }

.author {
  &__name {
    font-size: 1.125rem;
    line-height: 1.25rem;
    }
  &__post {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.meta-info {
  justify-content: space-between;
  gap: 0 0;
  width: 100%;
  &__text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.gl-photo {
  margin: 0 0 1rem;
  width: 100%;
  height: 13.75rem;
  overflow: hidden;
  border-radius: 1.25rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    }
  }

.gl-content {
  display: block;
  .widget-info {
    position: static;
    margin: 0;
    padding: 0;
    }
  }

.widget-info {
  margin: 0 0 1.875rem;
  width: 100%;
  &__in {
    padding: 1.25rem;
    gap: 0.75rem 0;
    border-radius: 1.25rem;
    }
  &__title {
    font-size: 1.125rem;
    line-height: 1.25rem;
    }
  &__list {
    gap: 0.75rem 0;
    li {
      font-size: 0.875rem;
      line-height: 1.125rem;
      }
    }
  &__text {
    font-size: 0.625rem;
    }
  }

.comments {
  &__form-bottom-col {
    flex-direction: column;
    gap: 0.625rem 0;
    padding: 0.625rem 0 0;
    .input-field {
      max-width: 100%;
      }
    }
  }

.gl-content {
  h2 {
    font-size: 1.625rem;
    line-height: 1.625rem;
    }
  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    }
  h4 {
    font-size: 1.375rem;
    line-height: 1.375rem;
    }
  h5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    }
  h6 {
    font-size: 1.125rem;
    line-height: 1.125rem;
    }
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    }
  .importance {
    margin: 1.875rem 0;
    }
  }

.importance {
  gap: 0 0.625rem;
  padding: 1.25rem;
  border-radius: 1.25rem;
  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    }
  p {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.gl-big-text {
  margin: 0 0 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  }

.gl-numbered-list {
  li {
    font-size: 0.875rem;
    line-height: 1.375rem;
    &:before {
      top: 0;
      font-size: 0.875rem;
      }
    }
  }

textarea {
  padding: 1rem;
  height: 10.125rem;
  font-size: 0.875rem;
  line-height: 1.125rem;
  border-radius: 1.25rem;
  }

.comments-list {
  &__item {
    gap: 0.875rem 0;
    p {
      line-height: 1.25rem;
      }
    } 
  } 

.user {
  &__img {
    width: 3rem;
    height: 3rem;
    }
  &__name {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  &__date {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.video {
  display: flex;
  flex-wrap: inherit;
  margin: 0 -1rem;
  padding: 0 1rem;
  gap: 0 0.5rem;
  overflow-x: scroll;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &__item {
    flex-shrink: 0;
    width: 15.9375rem;
    height: 11.5625rem;
    white-space: nowrap;
    a {
      &:after {
        width: 2.0625rem;
        height: 2.375rem;
        }
      }
    }
  }

.master-info {
  padding: 1.25rem;
  border-radius: 1.25rem;
  &__top-col {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem 0;
    }
  &__img {
    width: 11.25rem;
    height: 11.25rem;
    }
  &__post {
    margin: -0.625rem 0 0;
    font-size: 1.125rem;
    line-height: 1.25rem;
    }
  &__name {
    font-size: 1.625rem;
    line-height: 1.625rem;
    }
  &__bottom-panel {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem 0;
    }
  p {
    line-height: 1.25rem;
    }
  }

.diagnostics-info {
  &__text {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.statistics-panel {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem 0;
  &__item {
    flex-direction: row;
    align-items: baseline;
    gap: 0 0.625rem;
    }
  &__number {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  &__text {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.transport-panel {
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem 0;
  }

.certificates-slider {
  &.swiper {
    margin: 0 -1rem;
    padding: 0 0.75rem;
    }
  .swiper-slide {
    padding: 0 0.25rem;
    width: 16.4375rem;
    }
  &__img {
    img {
      border-radius: 1.25rem;
      }
    }
  }

.rating-col {
  margin: 0 0 1.5rem;
  }

.reviews-form {
  &__bottom-panel {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem 0;
    padding: 0.5rem 0 0;
    }
  .input-field {
    width: 100%;
    }
  }

.input-field {
  label {
    top: 0.9375rem;
    left: 0.875rem;
    }
  }

.product {
  flex-direction: column;
  gap: 1.25rem 0;
  &__top-panel {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem 0;
    margin: 0 0 1.5rem;
    }
  &__reviews-number {
    margin: 0.125rem 0 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__main-price {
    font-size: 1.5rem;
    line-height: 1.1875rem;
    }
  &__old-price {
    font-size: 1.125rem;
    line-height: 1.4375rem;
    }
  &__btn-panel {
    margin: 0 0 1.5rem;
    }
  &__sm-title {
    font-size: 1.125rem;
    line-height: 1.125rem;
    }
  }

.specifications-list {
  &__item {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.availability {
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.purchased {
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.settings-info {
  font-size: 0.875rem;
  line-height: 1.125rem;
  }

.milliliters-panel {
  margin: 0 0 1.5rem;
  }

.milliliters-box {
  label {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.product-slider {
  width: 100%;
  &__big {
    margin: 0;
    img {
      border-radius: 1.25rem;
      }
    .swiper-pagination {
      display: flex !important;
      gap: 0 0.4375rem;
      .swiper-pagination-bullet {
        width: 0.5rem;
        height: 0.5rem;
        background: var(--seventh-background-color);
        &.swiper-pagination-bullet-active {
          background: var(--tertiary-background-color);
          }
        }
      }
    }
  &__sm {
    display: none !important;
    }
  }

.products-col {
  gap: 0 0.625rem;
  margin: 0 0 1.25rem;
  &__photo {
    img {
      border-radius: 1.25rem;
      } 
    }
  &__title {
    margin: 0 0 0.875rem;
    max-width: 6.25rem;
    font-size: 0.75rem;
    line-height: 0.9375rem;
    }
  &__price {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.great-deals {
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem 0;
  &__item {
    padding: 1.25rem;
    border-radius: 1.25rem;
    }
  &__price-panel {
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem 0;
    }
  &__price {
    font-size: 1.375rem;
    line-height: 1.75rem;
    }
  &__old-price {
    font-size: 1.125rem;
    line-height: 1.4375rem;
    }
  }

.product-info {
  grid-template-columns: repeat(1, 1fr);
  margin: 0 0 1.25rem;
  gap: 1.25rem 0;
  p {
    line-height: 1.25rem;
    }
  }

.detailed-specifications {
  &__item {
    padding: 0.75rem 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.accordion-services {
  &__item {
    padding: 12px 0;
    }
  &__top-panel {
    gap: 0 14px;
    width: 100%;
    }
  &__arrow {
    width: 36px;
    height: 36px;
    }
  &__title {
    font-size: 16px;
    line-height: 20px;
    }
  &__number {
    margin-left: auto;
    font-size: 14px;
    line-height: 20px;
    }
  }

.prices-services {
  border-radius: 20px;
  &__item {
    padding: 16px;
    gap: 0 16px;
    }
  &__title {
    font-size: 14px;
    line-height: 18px;
    }
  &__right-col {
    flex-shrink: 0;
    gap: 0 6px;
    }
  &__price {
    font-size: 14px;
    line-height: 18px;
    }
  }

.months-panel {
  display: none;
  }

.repair-calendar-slider {
  &.swiper {
    margin: 0 -1rem;
    padding: 0 0.75rem;
    }
  .swiper-slide {
    padding: 0 0.25rem;
    width: 255px;
    }
  }

.top-panel {
  p {
    margin: 0;
    color: var(--tertiary-text-color);
    }
  }

.repair-calendar {
  padding: 20px;
  border-radius: 24px;
  &__title {
    font-size: 18px;
    line-height: 24px;
    }
  p {
    font-size: 14px;
    line-height: 20px;
    }
  }

.warning {
  padding: 20px;
  border-radius: 20px;
  &__text {
    font-size: 16px;
    line-height: 20px;
    }
  }

.price-col {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
  &__number {
    font-size: 14px;
    line-height: 18px;
    }
  &__text {
    font-size: 14px;
    line-height: 18px;
    }
  }

.protection-panel {
  flex-direction: column;
  gap: 40px 0;
  padding: 20px;
  &__description {
    gap: 12px 0;
    }
  &__title {
    font-size: 20px;
    line-height: 20px;
    }
  }

.pricing-plans {
  grid-template-columns: repeat(1, 1fr);
  gap: 8px 0;
  &__item {
    padding: 20px;
    p {
      font-size: 14px;
      line-height: 18px;
      }
    &.show {
      .pricing-plans__content {
        display: block;
        }
      .pricing-plans__title {
        &:after {
          background: url(../img/icons/minus.svg) center no-repeat;
          background-size: 100%;
          }
        }
      }
    }
  &__title {
    position: relative;
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    cursor: pointer;
    &:after {
      position: absolute;
      display: block;
      width: 18px;
      height: 19px;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background: url(../img/icons/plus.svg) center no-repeat;
      background-size: 100%;
      content: "";
      }
    }
  &__sub-title {
    font-size: 16px;
    line-height: 20px;
    }
  &__list-text {
    font-size: 14px;
    line-height: 18px;
    }
  &__content {
    display: none;
    padding: 6px 0 0;
    }
  }

.price-tariff {
  &__number {
    font-size: 22px;
    line-height: 28px;
    }
  &__text {
    font-size: 14px;
    }
  }

.service-info {
  grid-template-columns: repeat(1, 1fr);
  gap: 8px 0;
  &__description {
    padding: 20px;
    border-radius: 20px;
    }
  &__title {
    margin: 0 0 16px;
    font-size: 26px;
    line-height: 26px;
    }
  .advantages {
    margin: 0 0 16px;
    }
  .entry-form {
    margin: 0 0 16px;
    }
  &__img {
    order: -1;
    height: 208px;
    border-radius: 20px;
    }
  }

.service-price {
  flex-direction: column;
  align-items: flex-start;
  gap: 16px 0;
  &__price {
    font-size: 18px;
    line-height: 23px;
    }
  &__text {
    font-size: 14px;
    line-height: 18px;
    }
  }

.models-slider {
  &.swiper {
    margin: 0 -1.25rem;
    padding: 0 1rem;
    }
  &_indent-bottom {
    margin-bottom: 20px !important;
    }
  .swiper-slide {
    padding: 0 0.25rem;
    width: 189px;
    }
  }

.model {
  &__title {
    font-size: 14px;
    line-height: 18px;
    }
  }

.catalog-models {
  padding: 20px 0 0;
  }

.models-list {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem 5px;
  &__item {
    &.hidden {
      display: none;
      }
    }
  ul {
    li {
      font-size: 14px;
      line-height: 18px;
      }
    }
  .btn {
    display: block;
    grid-column: span 2;
    }
  }

.question {
  flex-direction: column;
  gap: 20px 0;
  &__img {
    width: 100%;
    height: 190px;
    border-radius: 20px;
    }
  .title {
    margin: 0 0 14px;
    }
  }

.stage {
  padding: 20px;
  border-radius: 20px;
  p {
    margin: 0 0 16px;
    line-height: 20px;
    }
  .small-title {
    margin: 0 0 16px;
    }
  }

.gl-info-panel {
  gap: 0 16px;
  margin: 0 0 16px;
  &__title {
    font-size: 12px;
    line-height: 15px;
    }
  &__text {
    font-size: 14px;
    line-height: 18px;
    }
  }

.gl-info {
  .small-title {
    margin: 0 0 13px;
    }
  p {
    margin: 0 0 30px;
    }
  }

.application {
  flex-direction: column;
  gap: 16px 0;
  &__img {
    order: -1;
    width: 100%;
    height: 220px;
    border-radius: 20px;
    }
  .title {
    margin: 0 0 16px;
    }
  &__description {
    > p {
      margin: 0 0 16px;
      font-size: 14px;
      line-height: 20px;
      }
    }
  .compliments {
    margin: 0 0 16px;
    }
  &__bottom-panel {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px 0;
    }
  }

.compliments {
  dt {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 18px;
    }
  &__lis {
    gap: 12px 0;
    }
  &__text {
    font-size: 14px;
    line-height: 18px;
    }
  }

.notification-text {
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  br {
    display: none;
    }
  }

.error-404 {
  padding: 0;
  &__img {
    margin: 0 auto 1.875rem;
    width: 12.5rem;
    img {
      border-radius: 1.25rem;
      }
    }
  &__title {
    margin: 0 0 0.9375rem;
    font-size: 1.625rem;
    line-height: 2rem;
    }
  p {
    margin: 0 0 1.25rem;
    font-size: 1rem;
    line-height: 1.375rem;
    br {
      display: none;
      }
    }
  }

.search-result {
  margin: 0 0 1.25rem;
  &__item {
    padding: 1.25rem 0;
    }
  &__title {
    margin: 0 0 0.9375rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
    }
  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    }
  }

.requisites-list {
  li {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem 0;
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

.hystmodal {
  &__wrap {
    padding: 0.9375rem;
    }
  &__styled {
    padding: 1.25rem;
    }
  &__top-panel {
    padding: 0;
    }
  &__main-icon {
    display: none;
    }
  &__title {
    padding: 0 1.875rem 0 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    }
  &__sub-title {
    font-size: 0.875rem;
    }
  &__sm-title {
    margin: 0 0 0.625rem;
    font-size: 1.125rem;
    line-height: 1.375rem;
    }
  button {
    &.hystmodal__close  {
      width: 0.875rem;
      height: 0.875rem;
      top: 1.5625rem;
      right: 1.5625rem;
      background: url(../img/icons/modal-close.svg) center no-repeat;
      background-size: 100%;
      border-radius: 0;
      }
    }
  div {
    &.hystmodal__window {
      border-radius: 1rem;
      }
    }
  &__sm-text {
    font-size: 0.625rem;
    line-height: 0.75rem;
    }
  }

.vk-btn {
  padding: 0.9375rem 0.875rem;
  &__text {
    span {
      font-size: 0.875rem;
      }
    small {
      font-size: 0.75rem;
      }
    }
  }

.documents {
  gap: 1rem 0;
  &__item {
    padding: 1.25rem;
    border-radius: 1rem;
    }
  &__title {
    margin: 0 0 1rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    }
  &__list {
    li {
      gap: 0 0.625rem;
      padding: 0.875rem 0;
      }
    }
  &__name {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  &__file {
    padding: 0 0 0 1.75rem;
    font-size: 0.875rem;
    line-height: 1.125rem;
    &:before {
      width: 1.25rem;
      height: 1.25rem;
      }
    }
  }

.thanks {
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem 0;
  text-align: center;
  &__photo {
    margin: 0 auto;
    width: 12.125rem;
    }
  &__description {
    p {
      margin: 0 0 1.25rem;
      font-size: 1rem;
      line-height: 1.25rem;
      }
    }
  }

.all-brands {
  &__item {
    p {
      margin: 0 0 20px;
      }
    }
  }

.about-company {
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem 0;
  &__photo {
    order: -1;
    height: 11.25rem;
    img {
      height: 100%;
      object-fit: cover;
      object-position: top center;
      border-radius: 1.25rem;
      }
    }
  &__description {
    gap: 1rem 0;
    padding: 1.5rem;
    border-radius: 1.25rem;
    p {
      font-size: 0.875rem;
      line-height: 1.375rem;
      }
    }
  .big-title {
    margin: 0;
    }
  }

.mission {
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem 0;
  &__item {
    padding: 1.25rem;
    gap: 0.625rem 0;
    min-height: inherit;
    border-radius: 1.25rem;
    p {
      font-size: 0.875rem;
      line-height: 1.25rem;
      }
    }
  &__title {
    font-size: 1rem;
    line-height: 1.25rem;
    }
  }

.development-section {
  .title {
    margin: 0 0 2.5rem;
    text-align: left;
    }
  }

.development {
  &__dec {
    display: none;
    }
  &__list {
    display: flex;
    flex-wrap: inherit;
    gap: 0 0;
    margin: 0 -0.9375rem;
    padding: 0.3125rem 0.9375rem 0;
    max-width: inherit;
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    }
  &__item {
    position: relative;
    flex-shrink: 0;
    padding: 1.875rem 0.9375rem 0 0 !important;
    width: 15.9375rem;
    text-align: left;
    white-space: normal;
    border-top: 0.125rem solid var(--secondary-background-color);
    &:before {
      position: absolute;
      display: block;
      width: 0.625rem;
      height: 0.625rem;
      top: -0.375rem;
      left: 0;
      background: var(--secondary-background-color);
      border-radius: 100%;
      content: "";
      }
    &:last-child {
      &:after {
        position: absolute;
        display: block;
        width: 0.625rem;
        height: 0.625rem;
        top: -0.375rem;
        right: 0;
        background: var(--secondary-background-color);
        border-radius: 100%;
        content: "";
        }
      }
    &:nth-child(2n) {
      padding: 0;
      }
    }
  .passed {
    border-color: var(--tertiary-background-color);
    &:before {
      background: var(--tertiary-background-color);
      }
    + .passed {
      border-color: var(--secondary-background-color);
      }
    }
  &__number {
    margin: 0 0 0.625rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
    }
  &__title {
    margin: 0 0 0.625rem;
    font-size: 1rem;
    line-height: 1.25rem;
    }
  p {
    font-size: 0.875rem;
    line-height: 1.125rem;
    }
  }

}