/* root */
:root {

  /* text color */
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #EB502C;
  --tertiary-text-color: #8A8A8A;
  --quaternary-text-color: #F56E4A;
  --fifth-text-color: #151515;
  --six-text-color: #818793;
  --seventh-text-color: #59DF00;
  --eighth-text-color: #24B200;
  --ninth-text-color: #DB0525;

  /* font-family */
  --primary-font-family: 'Onest', sans-serif;
  --secondary-font-family: 'Actay Wide', sans-serif;

  /* font-weight */
  --primary-font-weight: 400;
  --secondary-font-weight: 500;
  --tertiary-font-weight: 600;
  --quaternary-font-weight: 700;
  --fifth-font-weight: 800;

  /* border-color */
  --primary-border-color: #494949;
  --secondary-border-color: #FFFFFF;
  --tertiary-border-color: #EB502C;

  /* btn-color */
  --primary-btn-color: #EB502C;
  --secondary-btn-color: #df3f19;
  --tertiary-btn-color: #272727;
  --quaternary-btn-color: #FFFFFF;
  --fifth-btn-color: #151515;

  /* background-color */
  --primary-background-color: #151515;
  --secondary-background-color: #272727;
  --tertiary-background-color: #EB502C;
  --quaternary-background-color: #323232;
  --fifth-background-color: #FFFFFF;
  --six-background-color: #46AF00;
  --seventh-background-color: #494949;

  }